*,
*:before,
*:after {
  box-sizing: border-box;
}

.navbar-default {
  background-color: #FBFDBB;
  border-color: #e7e7e7;
  color: whitesmoke;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  box-shadow: 5px 5px 5px black;
}

.navbar-default .navbar-brand {
  color: gray;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

#container {
  height: 100%;
}

.col-1 {
  width: 30%;
  background-color: #FBFDBB;
}

.col-2 {
  width: 70%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
}

.results {
  max-height: 70%;
  overflow-y: auto;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

.ow-form {
  padding: 5%;
  border: 1px solid #ddd;
  border-top: 0;
}

.ow-slider {
  padding: 5%;
  border: 1px solid #ddd;
  margin-top: 2%;
}

/* Here we use angular validation CSS classes */

/* Field borders turn red when touched and invalid */

input.ng-touched.ng-invalid,
select.ng-touched.ng-invalid {
  border-color: red;
  border-width: 2px;
}

/* Field borders turn green when touched and invalid */

input.ng-touched.ng-valid,
select.ng-touched.ng-valid {
  border-color: green;
  border-width: 2px;
}
